{% extends "base.html" %}

{% block page_title %}
    Lista de Alunos
{% endblock page_title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in lista_de_alunos %}
            <tr>
                <td><a href="{% url 'aluno_form' aluno.pk %}">{{ aluno.get_full_name }}</a></td>
                <td><a href="#" class="btn btn-danger btn-mini">Deletar</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Quantidade de Alunos: {{ lista_de_alunos.count }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock content %}
