{% extends "base.html" %}

{% block page_title %}Redefinir Senha{% endblock page_title %}

{% block content %}
<p>Por favor, especifique o seu endereço de e-mail para receber as instruções para redefini-la.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">e-mail:</label> {{ form.email }}</p>
    <p><input class="btn btn-primary" type="submit" value="Redefinir Senha" /></p>
</form>
{% endblock %}
