{% extends "base.html" %}
{% block page_title %}Definir Nova senha{% endblock page_title %}

{% block content %}
    {% if validlink %}
        <p>Por favor, digite a nova senha duas vezes.<br>
           Assim, podemos verificar que você digitou corretamente.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar a senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-primary" type="submit" value="Trocar minha Senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Redefinição de senha sem sucesso</h1>
        <p>O link de redefinição de senha é inválido, <br />
        possivelmente este link já foi utilizado. <br />
        Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %}
{% endblock %}
