{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block page_title %}
    Esqueci Minha Senha
{% endblock page_title %}

{% block content %}
    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <h4>
            Digite seu endereço de email.
        </h4>
        <h4>
            Você receberá um link para criar uma nova senha via e-mail.
        </h4>
        <input type="email" name="email" placeholder="seu e-mail"><br/>
        <button type="submit" class="btn btn-primary">Recuperar Senha</button>
    </form>
{% endblock content %}
